body{
    background-color: rgba(0, 0, 0, 0.801);
}

.header{
    height: 50px;
    background-color: rgba(128, 128, 128, 0.486);
    margin-top: -12px;
    border-radius: 8px;
}

.navigation ul li{
    list-style: none;
    display: inline-block;
    
}


.navigation a{
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color: white;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 80px;
    margin-right: 220px;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;

}
.navigation a:hover{
    color: darkgoldenrod;
    transform: scale(1.5);
}

.item1{
    height: 300px;
    width: 600px;
    align-items: center;
    text-align: center;

}
.item1 h2{
    padding: 0px;
    font-size: 80px;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: 'Lobster Two', cursive;
}
.item2{
    height: 300px;
    width: 170px;
    flex: 1;
    text-align: center;
}

.container{
    height: 500px;
    display: flex;
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; gap: 18px;
    align-items: center;
}
img{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: white solid 5px;
    border-radius: 100px;
    
}
.creations{
    margin-top: 0;
    margin-left: 180px;
    margin-bottom: 200px;
}
.creations button a {
   text-decoration: none;
   color: white;
   font-size: 40px;
}
button{
    background-color: rgba(255, 217, 0, 0.466) ;
    border: none;
    border-radius: 15px;

}
button:hover{
    transform: scale(1.7);
    border-radius: 15px;
    transition-duration: 1s;
    filter: brightness(4)
}

